<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="imagenes/sliders/sliders1.jpg" class="img-fluid" alt="slider">
            <div class="container">
                <div class="carousel-caption text-start">
                    <div class="carousel-caption px-3">
                        <h1>Acompañamiento y orientación a <br/> los padres, entrega de <br/>estrategias para el apoyo en casa.</h1>
                    </div>                               
                </div>
            </div>
        
        </div>
        
        <div class="carousel-item ">
            <img src="imagenes/sliders/sliders2.jpg" class="img-fluid" alt="slider">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Trabajamos con atención personalizada en ambiente cálido y respetuoso.</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="imagenes/sliders/sliders3.jpg" class="img-fluid" alt="sliders4">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Nos basamos en el aprendizaje lúdico y didáctico,<br /> con materiales apropiados a la edad.</h1>
                </div>
            </div>
        </div>
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>